each shop in shops
	<div class="block_shop_item overflow">
	<img class="ava" src="#{shop.avatar}"  alt="" style="background: #F1F1FA;">
	if shop.rating
		<div class="name"><b>#{shop.name}</b>          Оценка пользователей: <b>#{shop.rating}</b></div>
	else
		<div class="name"><b>#{shop.name}</b>          Оценка пользователей: <b>пока нет оценок</b></div>
	<div class="tovars ">
		each product in products
			if product.mag == shop.id
				<div class="tovar overflow item_box"  style="background-image: url(#{product.image}); background-size: 100% 100%; background-position: center; ">
					<div class="item_title" style="text-align: center;"> #{product.name}</div> 
					<input type="button" class="add_item" data-id="#{product.id}" data-id-shop="#{shop.id}" data-cost="#{product.cost}" value="Купить за #{product.cost} руб.">	
				</div>
	</div>
	</div>
<div id="cart">
<div id="checkout">Оформить заказ</div>
<div id="clear_cart">Очистить корзину</div>
<div id="cart_content"></div>
	
</div>	



